body {
  background-color: rgb(22, 22, 22);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

img {
  z-index: -1;
  animation: fadein 1s linear;
  height: 28em;
  width: 28em;
  border-radius: 100em;
  border: 10px solid rgb(231, 231, 231);
}

.img-border {
  z-index: 0;
  height: 28em;
  width: 28em;
  border: 10px solid rgb(231, 231, 231);
  background-color: black;
  border-radius: 100em;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  z-index: 1;
  border-top: 10px solid rgb(220, 180, 0);
  border-radius: 50%;
  width: 28em;
  height: 28em;
  animation: spin 2s linear infinite;
}

.fact-box {
  width: 50vw;
  max-height: 5em;
  background-color: rgba(231, 231, 231, 0.3);
  border-radius: 5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.fact-box:before {
  content: "Cat Fact:";
  color: rgb(220, 180, 0);
  font-weight: 900;
  font-size: 3em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.fact-box--transition {
  max-height: 500vh;
  transition: max-height 1s;
}

.fact {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 2em;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  animation: fadein 1.5s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
